* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

:root {
    --main-bg-color: #FFF;
    --second-bg-color: #00b969;
    --main-text-color: #153d16;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: rgb(0, 185, 105);
    background: -moz-linear-gradient(66deg, rgba(0, 185, 105, 1) 34%, rgba(255, 255, 255, 1) 60%);
    background: -webkit-linear-gradient(66deg, rgba(0, 185, 105, 1) 34%, rgba(255, 255, 255, 1) 60%);
    background: linear-gradient(66deg, rgba(0, 185, 105, 1) 34%, rgba(255, 255, 255, 1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b969", endColorstr="#ffffff", GradientType=1);
}

body,
button,
input,
textarea {
    font-family: 'Poppins', sans-serif;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {

    position: relative;

    background-color: var(--main-bg-color);

    width: fit-content;
    max-width: 80vw;
    padding: 25px;
    border-radius: 5px;

    width: 50vw;
}

@media (max-width: 600px) {
    .modal-content {
        width: 90vw;
    }
}